.img-fluid:hover {
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  cursor: pointer;
}
.g-1 {
  --bs-gutter-y: 0.05rem !important;
  --bs-gutter-x: 0.05rem !important;
}